@use "../../sass" as *;

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;
  background: $bg-lavender-blush;
  z-index: 6;
  transition: $transition-1;

  .preloader-inner {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: -10px;
      left: 50%;
      transform: translateX(-50%);
      width: 80%;
      height: 10px;
      background-color: $bg-black-alpha-20;
      filter: blur(4px);
      z-index: -1;
      animation: dropShadow 800ms ease-in-out infinite alternate;
    }

    img {
      animation: bounce 800ms ease-in-out infinite alternate;

      @include desktop {
        width: 80px;
      }
    }
  }
}

@keyframes bounce {
  0% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes dropShadow {
  0% {
    width: 40%;
  }
  100% {
    width: 80%;
  }
}
