@use "../../sass/" as *;

.service {
  .container {
    display: grid;
    gap: 25px;
  }

  .service-card {
    padding: 25px 20px;
    border-radius: $radius-20;

    &:nth-child(2) {
      background-color: $bg-chrome-yellow-alpha-5;
    }
    &:nth-child(3) {
      background-color: $bg-red-salsa-alpha-5;
    }
    &:nth-child(4) {
      background-color: $bg-majorelle-blue-alpha-5;
    }

    .card-title {
      margin-block: 10px 5px;
    }
  }
}
