@use "../../sass/" as *;

.hero {
  padding-block-start: 150px;

  .container {
    display: grid;
    gap: 50px;

    .hero-subtitle {
      background-color: $bg-misty-rose;
      color: $text-light-coral;
      font-size: $fontSize-7;
      display: flex;
      align-items: center;
      gap: 10px;
      max-width: max-content;
      padding: 8px 20px;
      border-radius: $radius-pill;
    }

    .hero-title {
      margin-block: 20px;
    }
    .hero-text {
      margin-block-end: 30px;
    }
    .btn-secondary {
      margin-block-end: 20px;
    }

    .wrapper {
      .hero-btn {
        color: $text-gunmetal;
        font-weight: $weight-medium;
        display: flex;
        align-items: center;
        gap: 30px;
        transition: $transition-1;

        .btn-img {
          position: relative;
          width: 60px;
          height: 60px;
          background-color: $bg-gainsboro;
          border-radius: $radius-circle;
          box-shadow: $shadow-1;

          .img-cover {
            border-radius: inherit;
          }
          .icon-play {
            position: absolute;
            top: 50%;
            right: 0;
            transform: translate(50%, -50%);
            background-color: $bg-white;
            padding: 10px;
            border-radius: $radius-circle;
            box-shadow: $shadow-1;
            box-sizing: content-box;
          }
        }
        &:is(:hover, :focus-visible) {
          color: $text-majorelle-blue;
        }
      }
    }
  }
}
