.home-section {
  height: 75dvh;
  width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  position: relative;
  transform: translateX(-50%);
  left: 50%;
  border-radius: 5rem;
  background: url('https://www.muchbetteradventures.com/magazine/content/images/size/w2000/2018/05/08140741/download-3.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  // margin-top: 10rem;

  .overlay{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(40deg ,rgba(0, 0, 0, 0.750), rgba(0, 0, 0, 0.350)) ;
    z-index: -1;
    border-radius: 5rem;
  }

  &__content {
    text-align: center;
    z-index: 10;
    transform: translateY(-5rem);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;

    .home-section__title {
      font-size: 35px;
      color: white;
      
    }
    
    .home-section__description {
      font-size: 13px;
      color: rgba(245, 245, 245, 0.7);
      // width: 70%;
    }

    .home-section__cta {
      width: 40rem;
      display: flex;
      justify-content: space-around;
      align-items: center;

    }

    .home-section__cta-button {
      background: royalblue;
      padding: 1rem 3rem;
      border-radius: 2rem;
      color: white;
      margin-top: 5rem;
    }
  }
}

// Media queries for responsiveness
@media (min-width: 768px) {
  .home-section {
    flex-direction: row;
    align-items: flex-start;
    padding: 200px;

    &__image {
      margin-right: 30px;
      margin-bottom: 0;
    }
  }
}
