@use "../../sass" as *;

.cta {
  .cta-card {
    background-color: $bg-misty-rose;
    padding: 60px 20px;
    text-align: center;
    border-radius: $radius-30;
  }

  .section-title {
    margin-block: 0 20px;
    font-size: 3.3rem;

    .img {
      display: inline-block;
    }
  }

  .btn {
    margin-inline: auto;
    margin-block-start: 20px;
  }
}
