@use "../../sass/" as *;

.header {
  padding-block: 30px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 4;

  &.active {
    position: fixed;
    background-color: $bg-white;
    box-shadow: $shadow-1;
    animation: slideIn 500ms ease forwards;

    @include desktop-md {
      padding-block: 15px;
    }
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: $bg-white;
    opacity: 0;
    visibility: hidden;
    transition: $transition-1;

    &.active {
      visibility: visible;
      opacity: 0.5;
    }
  }
  .logo {
    img {
      width: 160px;

      @include desktop-lg {
        width: 180px;
      }
    }
  }
  .nav-toggle-btn {
    font-size: 3.2rem;
  }

  .navbar {
    position: fixed;
    top: 0;
    right: -350px;
    max-width: 350px;
    width: 100%;
    height: 100vh;
    background-color: $bg-white;
    padding: 30px 16px;
    display: flex;
    flex-direction: column;
    z-index: 1;
    transition: 400ms $cubic-out;
    visibility: hidden;

    &.active {
      transform: translateX(-350px);
      transition-duration: 500ms;
      visibility: visible;
    }

    .navbar-top {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .navbar-list {
      margin-block-start: 50px;

      @include desktop-md {
        margin-block-start: 0;
        display: flex;
        gap: 30px;
        margin-inline: auto;
      }

      @include desktop-lg {
        gap: 50px;
      }

      @include desktop-xl {
        gap: 70px;
      }

      .navbar-link {
        position: relative;
        color: $text-gunmetal;
        font-size: $fontSize-7;
        font-weight: $weight-medium;
        padding-block: 8px;
        transition: $transition-1;

        &::before {
          content: "";
          position: absolute;
          width: 3px;
          height: 10px;
          background-color: $bg-majorelle-blue;
          top: 50%;
          left: -10px;
          transform: translateY(-50%);
          border-radius: 5px;
          opacity: 0;
          transition: $transition-1;

          @include desktop-md {
            width: 10px;
            height: 3px;
            top: auto;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
          }
        }

        &:is(:hover, :focus-visible, .active) {
          transform: translateX(10px);

          @include desktop-md {
            transform: unset;
          }
        }

        &:is(:hover, :focus-visible, .active)::before {
          opacity: 1;
        }
      }
    }
    .header-action {
      margin-block-start: auto;
      padding-block-start: 20px;
      border-block-start: 1px solid $border-gainsboro;
      display: flex;
      justify-content: space-around;
      align-items: center;

      @include desktop-md {
        border: none;
        padding-block-start: 0;
        gap: 30px;
      }

      @include desktop-lg {
        gap: 40px;
      }

      .login-btn {
        color: $text-gunmetal;
        font-size: $fontSize-7;
        font-weight: $weight-medium;
        transition: $transition-1;

        &:is(:hover, :focus-visible) {
          opacity: 0.8;
        }
      }

      .btn-primary {
        @include desktop-md {
          height: 45px;
          padding-inline: 25px;
        }
      }
    }

    @include tablet {
      padding-inline: 40px;
      padding-block-start: 40px;
    }
  }

  @include desktop-md {
    .nav-toggle-btn,
    .navbar-top,
    .overlay {
      display: none !important;
    }

    .navbar,
    .navbar.active {
      all: unset;
      display: flex;
      align-items: center;
      flex-grow: 1;
    }
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
