@use "../../sass/" as *;

.experience {
  .container {
    display: grid;
    gap: 50px;

    @include desktop-md {
      grid-template-columns: 1fr 1fr;
      align-items: center;
      gap: 80px;
    }
  }

  &-content {
    @include desktop-md {
      order: 1;
    }
  }

  &-banner {
    position: relative;

    @include desktop {
      max-width: 550px;
      margin-inline: auto;
    }

    .experience-shape {
      position: absolute;
      top: 50%;
      left: -10px;
      width: 25%;
      filter: drop-shadow($shadow-4);
    }
  }

  .section-text {
    margin-block-end: 20px;

    @include desktop {
      max-width: 600px;
    }

    @include desktop-lg {
      margin-block: 30px 40px;
    }
  }

  &-list {
    @include desktop {
      display: flex;
      align-items: center;
      gap: 30px;
    }

    @include desktop-md {
      flex-wrap: wrap;
    }

    @include desktop-lg {
      gap: 50px;
    }
  }

  &-item {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-block-start: 15px;

    @include desktop {
      gap: 15px;
    }

    @include desktop-md {
      margin-block-start: 0;
      flex-direction: column;
      gap: 0;
      align-items: flex-start;
    }

    .item-title {
      color: $text-majorelle-blue;
      font-size: 3.6rem;
      font-weight: $weight-bold;

      @include desktop {
        font-size: 4rem;
      }
    }
  }
}
