@use "../../sass/" as *;

.destination {
  .section-title {
    margin-block-end: 40px;
  }

  &-list {
    display: grid;
    gap: 30px;
  }

  &-card {
    .card-banner {
      position: relative;
      border-radius: $radius-30;
    }

    &:is(:hover, :focus-within) {
      .img-cover {
        transform: scale(1.05);
      }
    }

    .card-price {
      position: absolute;
      top: 20px;
      right: 20px;
      background-color: $bg-white;
      color: $text-majorelle-blue;
      font-weight: $weight-bold;
      font-size: 1.8rem;
      line-height: 1.45;
      padding: 5px 15px;
      border-radius: $radius-pill;
    }

    .card-title {
      margin-block: 15px 5px;
      transition: $transition-1;

      &:is(:hover, :focus-visible) {
        color: $text-majorelle-blue;
      }
    }

    & :is(.card-rating, .span) {
      display: flex;
      align-items: center;
    }

    .card-rating {
      margin-block-start: 10px;
      gap: 10px;

      .span {
        background-color: $bg-sunglow-alpha-10;
        gap: 5px;
        padding: 4px 12px;
        border-radius: $radius-pill;

        .star {
          color: $text-sunglow;
        }
      }
    }
  }

  .btn {
    margin-inline: auto;
    margin-block-start: 40px;
  }
}
