@use "./sass/" as *;

// Global

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a,
img,
span,
input,
button,
io-icon {
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

input,
button {
  background: none;
  font: inherit;
  border: none;
}

input {
  width: 100%;
  outline: none;
}

button {
  cursor: pointer;
}

io-icon {
  pointer-events: none;
}

address {
  font-style: normal;
}

html {
  font-family: $ff-poppins;
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background-color: $bg-lavender-blush;
  color: $text-granite-gray;
  font-size: $fontSize-6;
  line-height: 1.8;
}

// Reused Styles

.container {
  padding-inline: 16px;
}

.btn {
  height: 50px;
  color: $text-white;
  padding-inline: 30px;
  border-radius: $radius-pill;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  max-width: max-content;
  transition: $transition-1;

}

.btn-primary {
  background-color: $bg-majorelle-blue;

  &:is(:hover, :focus-visible) {
    background-color: $bg-ocean-blue;
    box-shadow: $shadow-2;
  }
}

.btn-secondary {
  background-color: $bg-red-salsa;

  &:is(:hover, :focus-visible) {
    background-color: $bg-english-vermillion;
    box-shadow: $shadow-3;
  }
}
